// To clear things when we float the element inside nav and ul
.clear {
  *zoom: 1;

  &:after {
    clear: both;
  }

  &:before,
  &:after {
    content: " ";
    display: table;
  }
}

.site-header {
  //padding-bottom: 1%;
  padding: 2% 2% 1% 2%;
  background: $brand-color;
  display: inline-block;
  float: left;
  width: 100%;

  .separator {
    user-select: none;
    opacity: $navbar-separator-opacity;

    &:first-child {
      display: none;
    }
  }

  a {
    color: $header-link-color;
  }

  .avatar {
    height: 3em;
    width: 3em;
    float: left;
    margin-top: -13px;
    border-radius: 0.2em;
    margin-right: 0.5em;
    padding: 10px 10px;

  }

  .site-title {
    float: left;
    font-weight: bold;
    font-family: $font-family-logo;
    font-size: 1.3em;
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}
/* ---- Responsive ---- */